@model LMS.Models.ForgotPassword

@{
    Layout = null; ;
}

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forgot Password</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assetz/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assetz/vendors/iconfonts/ionicons/dist/css/ionicons.css">
    <link rel="stylesheet" href="~/assetz/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/assetz/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/assetz/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/assetz/css/shared/style.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href=".~/assetz/css/demo_1/style.css">
    <!-- End Layout styles -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
                <div class="row w-100">
                    <div class="col-lg-4 mx-auto">
                        <h2 class="text-center mb-4">Forgot Password</h2>
                        <div class="auto-form-wrapper">
                            @using (Html.BeginForm())
                            {
                                @*@Html.AntiForgeryToken()*@
                                @Html.ValidationSummary(true)
                            <form>
                                <div class="form-group d-flex justify-content-between">
                                    <div class="form-check form-check-flat mt-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" checked>Please Enter your Employee Number you will be sent your password through your email.
                                            </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.EmployeeNumber, "", new { @class = "form-control", @placeholder = "Employee Number", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.EmployeeNumber, "", new { @class = "" })
                                        <span class="input-group-text">
                                            <i class="mdi mdi-check-circle-outline"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary submit-btn btn-block">ForgetPassword</button>
                                </div>
                                <div class="text-block text-center my-3">
                                    <span class="text-small font-weight-semibold">Already know my Password ?</span>
                                    <a href='@Url.Action("Login", "Account")' class="text-black text-small">Login</a>
                                </div>
                            </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assetz/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/assetz/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <!--<script src="~/assetz/js/shared/off-canvas.js"></script>
    <script src="~/assetz/js/shared/misc.js"></script>-->
    <!-- endinject -->
    <script src="~/assetz/js/shared/jquery.cookie.js" type="text/javascript"></script>
</body>
</html>

