@model LMS.Models.LeaveRecalls

@{
    ViewBag.Title = "LeaveRecalls";
}
<main id="main" class="main">
    <div ID="NavbarContent" runat="server">
        <!-- #Include virtual="includes/Navbar.aspx" -->
    </div>
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- #Include virtual="includes/Sidebar.aspx" -->
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">Leave Recalls</li>
                    <li class="breadcrumb-item active"> @{Response.Write(Request["status"]);} applications</li>
                </ol>
                <!-- DataTables Example -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-folder"></i>
                        @{Response.Write(Request["status"]); } Leave Recall Applications
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <asp:PlaceHolder ID="placeholder" runat="server" />
                        </div>
                    </div>
                    <div class="card-footer small text-muted">Updated today at @DateTime.Now.ToShortTimeString() </div>
               </div>
            </div>
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="Logout.aspx">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="vendor/datatables/jquery.dataTables.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.min.js"></script>
    <script src="js/bootbox.all.min.js"></script>
    <script src="js/bootboxError.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var jQuery_3_3_1 = $.noConflict(true);
    </script>
    <script src="js/jquery.toast.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(document).ready(function () {
            var table = $('#dataTable').DataTable({
                lengthChange: false,
                buttons: ['copy', 'excel', 'pdf', 'colvis'],
                "order": [[0, "desc"]]
            });

            table.buttons().container()
                .appendTo('#dataTable_wrapper .col-md-6:eq(0)');

            jQuery_3_3_1("#dataTable").on("click", ".delete_record", function (e) {
                e.preventDefault();
                var pid = $(this).attr('data-id');
                bootbox.confirm({
                    title: "<i class='fa fa-trash'></i> Delete record?",
                    message: "Do you wish to delete this Leave Recall application?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {

                        if (result == true) {

                            showToast('Deleting application');

                            jQuery.ajax({
                                url: 'LeaveRecalls/DeleteOpenLeaveRecall',
                                type: "POST",
                                data: '{param1:"' + pid + '"}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (response) {

                                    if (response != null && response.d != null) {
                                        var data = response.d;
                                        // alert(typeof (data)); //it comes out to be string
                                        //we need to parse it to JSON
                                        data = $.parseJSON(data);

                                        hideLoading();

                                        bootbox.alert(data.Message);

                                        window.setTimeout(function () {
                                            location.reload()
                                        }, 3000);
                                    }
                                },
                                error: function () {
                                    bootbox.error({ title: "System error", message: "An error occured." });
                                }
                            });
                        }
                    }
                });
            });
            jQuery_3_3_1("#dataTable").on("click", ".submit_record", function (e) {
                e.preventDefault();
                var pid = $(this).attr('data-id');
                bootbox.confirm({
                    title: "<i class='fa fa-paper-plane'></i> Submit?",
                    message: "Do you wish to submit this Leave Recall application?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {

                        if (result == true) {

                            showToast('Submitting application');

                            jQuery.ajax({
                                url: 'LeaveRecalls/SubmitOpenLeaveRecall',
                                type: "POST",
                                data: '{param1:"' + pid + '"}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (response) {

                                    if (response != null && response.d != null) {
                                        var data = response.d;
                                        // alert(typeof (data)); //it comes out to be string
                                        //we need to parse it to JSON

                                        hideLoading();

                                        data = $.parseJSON(data);

                                        if (data.Status == "000") {
                                            bootbox.alert(data.Message);
                                        } else {
                                            //error dialog
                                            bootbox.error({ title: "Application error", message: data.Message });
                                        }

                                        //window.setTimeout(function () {
                                        //    location.reload()
                                        //}, 3000);
                                    }
                                },
                                error: function () {
                                    bootbox.error({ title: "System error", message: "An error occured." });
                                }
                            });
                        }
                    }
                });

            });
            jQuery_3_3_1("#dataTable").on("click", ".cancel_record", function (e) {
                e.preventDefault();
                var pid = $(this).attr('data-id');

                bootbox.confirm({
                    title: "<i class='fa fa-times'></i> Cancel?",
                    message: "Do you wish to cancel this Leave application?",
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (result) {

                        if (result == true) {

                            showToast('Cancelling application');

                            jQuery.ajax({
                                url: 'LeaveRecalls/CancelOpenLeaveRecall',
                                type: "POST",
                                data: '{param1:"' + pid + '"}',
                                dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                success: function (response) {

                                    if (response != null && response.d != null) {
                                        var data = response.d;
                                        // alert(typeof (data)); //it comes out to be string
                                        //we need to parse it to JSON
                                        data = $.parseJSON(data);

                                        hideLoading();

                                        bootbox.alert(data.Message);
                                        //window.location.href = "PendingLeaves.aspx";
                                        window.setTimeout(function () {
                                            location.reload()
                                        }, 3000);
                                    }
                                },
                                error: function () {
                                    bootbox.alert('An error occured');
                                }
                            });
                        }
                    }
                });
            });
        });
        function showToast(modaltittle) {
            var title = modaltittle;
            var icon = 'loading';
            var duration = 50000 * 1;
            $.Toast.showToast({ title: title, duration: duration, icon: icon, image: '' });
        }
        function hideLoading() {
            $.Toast.hideToast();
        }
    </script>
</main>
